body{
    background-color: rgb(197, 194, 194);
    font: 170% Lucida;
    font-style: italic;
    display: inline-block;
    background: url("imagenes/fondopag.png") center center fixed;
    
    height: 100px;
    width: 98%;
    
}

.titulo{
    font: 230% Lucida Bright;
    font-style:italic; 
    font-weight:600;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 20px 44px 5px 0;
    margin-top: 3em;
}

.subtitulo{
    color: #ffffff;
    text-align: center;
    position: relative;
    margin-top: 1em;
}
.parrafo{
    text-align: center;
    color: #ffffff;
    position: relative;
    margin-right: 5em;
    margin-left: 5em;
}

.enlaces{
    list-style: none;
    text-align: center;
    margin-top: 7em;
}
.link{
  display: inline-block;
  margin-block: 10px;
  color:#fff;
  text-decoration: none;
  position: relative;
}
.link::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #3c67e3;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .50s ease;
}
.link:hover::after{
    transform: scaleX(1);
}
a:focus {
    border-bottom: 1px solid;
    color: #111111;}
a:active { 
    color: #111111;
}

@media only screen and (max-width: 700px){
    body{
         max-width: 90%;
         margin-left: 0.1em;
         margin-right: 0.1em;  
        
     }
     .titulo{
         transform: scale(0.7);
         margin-top: 1em;
         left: 0.6em;
         margin-left: 0.1em;
     }
     .parrafo{
         font-size: 18px;
         display: block;
         max-width: 100%;
         text-align: center;
     }
     .subtitulo{
         text-align: center;
     }
 }  

/*------------------- CARTA DE PRESENTACION ----------------*/

.pcarta{
    font-size: 21px;
    margin-left: 10em;
    margin-top: 3em;
    margin-right: 10em;
    padding: 5em;
    background-color: #ffffff;
}

.home{
    position: fixed;
    right: 1em;
    vertical-align: sub;
}

.botonHome{
   text-align: center;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 5px;
    border: 3px solid #3c67e3;
    border-radius: 12px;  
    background-color: #ffffff;
    width: 60px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
  margin-left: 50%;
  transform: translateX(-50%);
}

.botonHome:hover{
    animation: pulsate 1.7s ease-in-out;   
}
@keyframes pulsate{
    50%{
        box-shadow: 
        0 0 25px #5ddcff, 0 0 50px #4e00c2;
    }
}

@media only screen and (max-width: 700px){
    .pcarta{
         display: block;
         width: 90%;
         margin-left: 5%;
         margin-right: 0em;
         font-size: 16px; 
         margin-top: 2em;
         overflow-x: hidden;
     }
   

     

 }  

/*------------------- CURRICULUM ----------------*/

.bodyCV{
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 2em;
    padding: 2em;
    color: #111111;
    font-size:larger;
    width: 90%;
}
.cuerpo{
    background-color: #ffffff;
    margin-top: 0.5em;
    margin-left:2em;
    margin-right: 2em;
    padding: 3em;
    width: 90%;
}
.fotoCV{
    height: 220px;
    width: 220px;
    margin-top: 3em;
    margin-right: 5em;
}
.tituloCV{
    margin-top: 0.5em;
    background-color: #ffffff;
}
.Personal{
    margin-top: 4em; 
}

.descarga{
    margin-top: 15px;
   margin-left: 2em;
   display: inline-block;
   color: #ffffff;
   text-decoration: none;
   padding: 5px 5px;
   border: 3px solid #3c67e3;
   border-radius: 12px;  
   background-color: #ffffff;
   
}
a{
    color: #3c67e3;
  }
  
  a:active{
    color:#000000;
  }

.descarga li{
    list-style: none;
  
}
.descarga:hover{
    animation: pulsate 1.7s ease-in-out;   
}
@keyframes pulsate{
    50%{
        box-shadow: 
        0 0 25px #5ddcff, 0 0 50px #4e00c2;
    }
}

@media only screen and (max-width: 700px){
    .cuerpo {
         display: block;
         width:118%;
         margin: 3px;
         padding: 3px;  
         font-size:16px;   
     }
     .fotoCV{
        display: block;
        width: 90%;
        height: 100px;
        width: 100px;
        margin-top: 1em;
       margin-right: 0.3em; 
       margin-left: 10px;
    }
    .bodyCV{
        margin-top: 0.3em;
        margin-left: 2px;
        
       
        color: #111111;
        font-size:16px;
        width: 75%;
    }
}
   
/*------------------- CONTACTO ----------------*/

.botonesRedes{
    position: fixed;
    left: -40px;
    top: 100px;
    z-index: 2000;
}

.botonesRedes ul{
    list-style: none;
}

.botonesRedes ul li a{
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 5px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.botonesRedes ul li .icon-mail2{background: #666666 ;}
.botonesRedes ul li .icon-linkedin2{background: #0077b5 ;}
.botonesRedes ul li .icon-whatsapp{background: #00bb2d ;}
.botonesRedes ul li .icon-instagram{background: #ff8820 ;}
.botonesRedes ul li .icon-facebook{background: #3b5998 ;}

.botonesRedes ul li a:hover{
    padding: 10px 30px;
    background: #000000;
}

@media only screen and (max-width: 700px){
    .botonesRedes{
         display: block;
         width: 50%;
         top: 0px;
         left: -50px;
         padding: 3px 15px;             
     }
 }  

/*----------------GALERIA-------------*/
.titulocertificados{
    margin-top: 4em;
   position: relative;
   text-align: center;
    color: #ffffff;
}
.fotoscertif{
   margin-left: 20%;
   margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 60px;  
    

}
.fotoscertif img{
    width: 50%;
    cursor: pointer;
    transition: 1s;
}
.fotoscertif img:hover{
    transform: scale(1.3);
}
.ful-img{
    right: 0.5em;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
    
}
    
.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (max-width: 850px){
   

   .fotoscertif{
         width: 95%;
         display: grid;
         margin: 50%;
         grid-template-columns: none;
         gap: 30px;
         box-sizing: border-box;
          top: 0.3em;
    }

    .ful-img span{
        position: absolute;
        top: 5%;
        right: 5%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
  }

  .titulocertificados{
    font-size: 12px;
    width: 100%; 
    text-align: center;
    margin: 17px;
   }

    .fotoscertif img{
        max-width: 100%;
        cursor: pointer;
        transition: 1s; 
    }

    #fulImg{
        width: 550px;
        height: 400px;
    }    
}    
