body{
    background-color:#3b5998;
    font: 160% Lucida;
    font-style:italic;
    display: inline-block;
    background: url("./imagenes/programacion-de-diseno-web.jpg") center center fixed;
    height: 100px;
    width: 98%; 
}
.titulo{
    font: 270% Lucida Bright;
    font-style:italic; 
    color: #fff;
    margin-left: 15%;
    margin-top: 3px;
    position: absolute;
    top: 49%;
}
.subtitulo{
    color: #fff;
    margin-left: 25%;
    position: absolute;
    top: 35%;
}
.parrafo{
    color: #fff;
    margin-left: 8em;
    margin-top: 5px;
}
.link{
  display: inline-block;
  margin-block: 10px;
  color:#fff;
  text-decoration: none;
  position: absolute;
}
.link::after{
    content: "";
    width: 50%;
    height: 3px;
    background-color: #3c67e3;
    border-radius: 10px;
    position: absolute;
    left: 25%;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .50s ease;
}
.link:hover::after{
    transform: scaleX(1);
}
a:focus {
    border-bottom: 1px solid;
    color: #111111;}
a:active { 
    color: #111111;
}

 /*------------------- CONTACTO ----------------*/

.bodycontact{
    background: url("./imagenes/708805.jpg") center center fixed;
}
.titulocontacto{
    position: absolute;
    top: 35%;
    font-size: 65px;
    margin-left: 15%;
    color: #ffffff;
}
.subtitulocontacto{
    margin-left: 15%;
    position: absolute;
    top: 55%;
    color: #fff;
}
.botonesRedes{
    position: absolute;
    top: 49%;
    width:30%;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    background: none;
    margin-left: 55%;
}
.location{
    margin-left: 15%;
    position: absolute;
    top: 68%;
    font-size: 18px;
    color: #fff;
}
.botonesRedes >a{
    width: 40%;
    font-size: 35px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    background: none;
    margin-left: 5%;
    margin-right: 10%;
    transition: 0.5s;
    box-shadow: reb(120, 219, 232) 3px 3px 6px 0px, rgb(247, 245, 245) -3px -3px 6px 1px;
}
.botonesRedes >a:hover{
    transform: translateY(-15px);
}

/*------------------- CURRICULUM ----------------*/

.bodyCV{
    background: url("./imagenes/AdobeStock_303765617-scaled.jpeg") center center fixed;
    color: #111111;
    font-size:larger; 
    height: 60%;
    width: 100%; 
    position: absolute;
    top: 3%;
}
.cuerpo{
    position: absolute;
    top: 5%;
    width: 75%;
    background-color: #c9c8c8;
    margin-left:15%;
    margin-right: 15%;
}
.tituloCV{
    font-style:normal;
    margin: 8%;
    text-align: center;
}
.fotoCV{
    height: 225px;
    width: 225px;
    margin-right: 5%;
}
.info{
    font-style:normal;
    font-size: 22px;
    height: 75%;
    width:75%;
    margin-left: 10%;
    margin-top: 5%;
}
.descarga{
    position: fixed;
    left: 91%;
    top: 92%;
    color: #c9c8c8;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid #3c67e3;
    border-radius: 10px;  
    background-color: #c9c8c8;
}
a{
    color: #3c67e3;} 
  a:active{
    color:#000000;}
.descarga li{
    list-style: none;}
.descarga:hover{
    animation: pulsate 1.7s ease-in-out;   
}
   
/*----------------GALERIA-------------*/

.titulocertificados{
    margin-top: 5%;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%; 
    color: #ffffff;
}
.fotoscertif{
    position: absolute;
    margin-left: 10%;
    margin-top: 15%;
    height: 100%;
    width: 85%; 
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 45fr));
    gap:40px;  
}
.fotoscertif img{
    width: 75%;
    cursor: pointer;
    transition: 1s;
    padding: 10%; 
}
.fotoscertif img:hover{
    transform: scale(1.3);
}
.ful-img{
    right: 5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 2%;
    left: 5%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: #c9c8c8;
    cursor: pointer;
}   
.contenedor_pag p:hover{
    color: #c9c8c8;
    transform: scale(1.1, 1.1);
}
.wrapper { 
    position: relative;
}
.wrapper :is(.btn, .link) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ffff;
    color: #151515;
    border-radius: 50%;
}
.btn { 
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: outline .25s;
}
.active .btn,
.btn:hover{
    outline: 5px solid #bb93fc;
    outline-offset: -4px;
}
.item{ 
    position: absolute;
    list-style: none;
    transition: transform .5s;
    transition-delay: var(--d);
}
.wrapper.active .item:nth-child(1){
    transform: translateX(-65px);
}
.wrapper.active .item:nth-child(2){
    transform: translateY(-65px);
}
.wrapper.active .item:nth-child(3){
    transform: translateX(65px);
}
.inactive{
    display: none;
}

/*----------------CARTA-------------*/

.bodycarta{
    height: 100%;
    width: 100%; 
    z-index: 2000;
    position: absolute;
    top: 3%;
    background-color: #c9c8c8;
}
.pcarta{
    position: absolute;
    font-size: 24px;
    margin-left: 15%;
    margin-top: 3%;
    margin-right: 15%;
    padding: 3%;
    font-style:normal;
    background-color: #c9c8c8;
}

/*----------------Menu-------------*/

.hamburger{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    left: 40px;
    top: 50%;
    z-index: 2000;
}
.hamburger span{
    display: block;
    width: 40px;
    height: 3px;
    background-color: #ecf0f1;
    margin-block: 10px;
    border-radius: 10px;
    transition: all 350ms;
}
.activeline1__bars-menu{
    transform: translateY(13px)  rotate(45deg);
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;}
.activeline3__bars-menu{
    transform: translateY(-13px)   rotate(-45deg);
}
.contenedor_pag{
    position: fixed;
     margin:0.5%;
     display:none;
     animation-timing-function: cubic-bezier(0.175, 0.885, 0.8, 1.275);
     transform-origin: 1px 100%;
     transition: all 0.5s ease 1s;  
     transition: all 0.5s;
     overflow: scroll;
 }
 .activecontenedor_pag{
     height: 90%;
     width:80%;
     display:block;
     cursor: pointer;
     background-color: #3b5998;
     background-image: url(./imagenes/28283.jpg);    
     opacity: 0.95;
     border-radius: 25px;
     overflow:auto;
     margin-left: 12%;
     backface-visibility:hidden;
     transition: ease 1s;  
     transition: all 0.5s;
 }
 .link{
    position: relative;
    margin-top: -10px;
    font-size: 38px;
    display: block;
    text-align: center;
    margin:4%;
    border: 10px;
    letter-spacing: 5px;
    transition: ease 1s;  
    transition: all 800ms;  
}

@media (max-width: 640px) {
    /*----------------MENU-------------*/
    .hamburger{
        top: 2%;
        left: 20px;
    }
    .link{
        position: static;
       top: 0%;
        display:inline;
        letter-spacing: 0px;
        font-size: 14px;
        margin: 5px;
        padding: 3px 5px;
    }
    .activecontenedor_pag{
        position: static;
        height: 7%;
        width:90%;
        background: none;  
       justify-content: center;
        backface-visibility:hidden;
    }
    .hamburger span{
        position: static;
        width: 20px;
        height: 2px;
        margin-block: 3px;
    }
    .activeline1__bars-menu{
        transform: translateY(5px)  rotate(45deg);
    }
    .activeline2__bars-menu{
        opacity: 0;
        margin-left: -30px;}
    .activeline3__bars-menu{
        transform: translateY(-5px)   rotate(-45deg);
    }
 
    /*----------------PRINCIPAL-------------*/
    body{
        font: 160% Lucida;
        height: 90%;
        width: 95%; 
    }
    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 30px;
    }
    /*----------------CARTA-------------*/
    .bodycarta{
        position: relative;
        height: 90%;
        width: 95%;
    }
    .pcarta{
        font-size: 16px;
        margin-left: 2%;
        margin-top: 22%;
        margin-right: 2%;
        padding: 5%;
    }
    /*---------------CURRICULUM------------*/
    .bodyCV{
        font-size:16px; 
        position: absolute;
        height: 98%;
        width: 95%;
        top: 2%;
    }
    .cuerpo{
        position: absolute;
        height:100%;
        width: 100%;
              
        margin-left:1%;
        margin-right: 1%;
    }
    .tituloCV{
        position:absolute;
        font-size: 20px;
        top: 2%;
        margin-top: 2%;
    }
    .fotoCV{
        height: 145px;
        width: 145px;
        margin-right: 0.5%;
        margin-top: 20%;
    }
    .info{
        font-size: 14px;
        height: 90%;
        width: 95%; 
        margin-left: 2%;
        margin-top: 20%;
    }
    .descarga{
        position:absolute;
        top: 106%;
        padding: 5px 10px; 
        left: 40%;
    }
    /*---------------CONTACTO------------*/
    .titulocontacto{
        position: absolute;
        top: 10%;
        font-size: 28px;
        margin-left: 10%;
    }
    .subtitulocontacto{
        margin-left: 10%;
        position: absolute;
        top: 15%;
        color: #fff;
    }
    .botonesRedes{
        position:fixed;
        margin: 10%;
        top: 25%;
        width:100px;
        display:grid;
        padding: 10px;
        margin-left: 10%;
    }
    .location{
        margin-left: 10%;
        position: absolute;
        top: 85%;
        font-size: 18px;
        color: #fff;
    }
    .botonesRedes >a{
        width: 40%;
        font-size: 40px;
        height: 85px;
        display: flex;
        cursor:none;
        text-decoration: none;
        border-radius: 0px;
        background: none;
        margin-left: 0%;
        margin-right: 0%;
        transition: 0s;
        box-shadow:none;
    }
    .botonesRedes >a:hover{
        transform: translateY(0px);
    }
    /*----------------GALERIA-------------*/

.titulocertificados{
    margin-top: 15%;
    font-size: 16px;
    height: 90%;
    width: 95%;
}
.fotoscertif{
    position: absolute;
    margin-left: 5%;
    margin-top: 40%;
    height: 75%;
    width: 90%; 
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 45fr));
    gap:10px;  
}
.fotoscertif img{
    width: 95%;
    height: 60%;
    cursor: none;
    transition: 0s;
    padding: 0%; 
}
.fotoscertif img:hover{
    transform: none;
}
#fulImg{
    width: 400px;
}
.ful-img{
    right: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0%;
    left: 0%;
    display: none;
}
.ful-img span{
    top: 2%;
    right: 2%;
    font-size: 18px;
}   
.contenedor_pag p:hover{
    color: #c9c8c8;
    transform:none;
}
.wrapper { 
    position: relative;
}
.wrapper :is(.btn, .link) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ffff;
    color: #151515;
    border-radius: 50%;
}
.btn { 
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: none;
}
.active .btn,
.btn:hover{
    outline: 5px solid #bb93fc;
    outline-offset: -4px;
}
.item{ 
    list-style: none;
    transition: none;
    transition-delay:none;;
}

}